<div class="main-wrapper">
  <mat-card class="login-card">
    <div class="header-section">
      <div class="blue-icon-container">
        <mat-icon color="primary">account_balance_wallet</mat-icon>
      </div>
      <h1>Bienvenido</h1>
      <p>Accede a tu cuenta del sistema de facturación.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-card-content>
        <div class="input-group">
          <label>Nombre de usuario</label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput placeholder="Introduce tu nombre de usuario" formControlName="username" maxlength="10">
            <mat-icon matSuffix>person</mat-icon>            
            @if (form.get('username')?.hasError('required') && form.get('username')?.touched) {
              <mat-error>El nombre de usuario es obligatorio</mat-error>
            }
            @if (form.get('username')?.hasError('maxlength')) {
              <mat-error>Máximo 10 caracteres permitidos</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="input-group">
          <label>Contraseña</label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput type="password" placeholder="Introduce tu contraseña" formControlName="password" maxlength="10">
            <mat-icon matSuffix>lock</mat-icon>
            @if (form.get('password')?.hasError('required') && form.get('password')?.touched) {
              <mat-error>La contraseña es obligatoria</mat-error>
            }
            @if (form.get('password')?.hasError('maxlength')) {
              <mat-error>Máximo 10 caracteres permitidos</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="captcha-box">
          <p class="captcha-title">Verificación de seguridad</p>
          <p class="captcha-info">Área reservada para el widget de CAPTCHA.</p>
        </div>

        <button mat-flat-button type="submit" class="btn-login full-width" [disabled]="loading">
          <div style="display: flex; justify-content: center; align-items: center;">
            @if (!loading) {
            <span>Iniciar sesión</span>
            } @else {
            <mat-spinner diameter="24" color="accent"></mat-spinner>
            }
          </div>
        </button>
        
      </mat-card-content>
    </form>
  </mat-card>
</div>