.layout-container {
  height: 100vh;
  background-color: #f4f7fa;
}

// --- SIDENAV ---
.sidenav {
  width: 300px;
  border: none;
  background: #1e2532; // Azul oscuro profundo
  color: #f8fafc !important;;

  .sidenav-header {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: #26416f;

    .logo-circle {
      background: #4a80d4;
      padding: 8px;
      border-radius: 10px;
      display: flex;
      mat-icon { color: white; }
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      .title { font-weight: 700; letter-spacing: 1px; font-size: 1.1rem; }
      .subtitle { font-size: 0.75rem; color: #94a3b8; }
    }
  }
}
// Separador sutil entre bloques de menú
.menu-divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 10px 20px;
}
.nav-menu {
  padding-top: 20px;

  .menu-label {
    padding: 16px 24px 8px;
    font-size: 0.7rem;
    font-weight: 700;
    color: #64748b;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  // EL ITEM (CONTENEDOR)
  .mat-mdc-list-item {
    color: #e6e9ec !important;
    margin: 4px 12px;
    border-radius: 8px;
    
    // CAMBIO CLAVE: Quitamos el height fijo de 48px para que crezca si el texto baja
    height: auto !important; 
    min-height: 48px;
    padding: 8px 0 !important; // Un poco de aire arriba y abajo

    &:hover { 
      background: rgba(255, 255, 255, 0.05) !important; 
    }

    mat-icon { 
      color: #94a3b8; 
      margin-right: 8px;
    }
  }

  // EL TEXTO (TÍTULO)
  // Usamos ::ng-deep para asegurar que llegue al componente interno de Material
  ::ng-deep .mat-mdc-list-item-title {
    color: #d5d1d1 !important;
    font-weight: 500;
    font-size: 0.85rem !important;
    
    // ESTO PERMITE QUE EL TEXTO BAJE A LA SIGUIENTE LÍNEA
    white-space: normal !important; 
    line-height: 1.3 !important;
    display: block !important;
  }

  // LINK ACTIVO
  .active-link {
    background: #4a80d4 !important;
    
    ::ng-deep .mat-mdc-list-item-title {
      color: white !important;
      font-weight: 600;
    }
    
    mat-icon { 
      color: white !important; 
    }
  }
}

// --- TOOLBAR ---
.toolbar {
  background: white !important;
  color: #554333 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  height: 64px;

  .user-pill {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    border-right: 1px solid #e2e8f0;
    margin-right: 8px;

    mat-icon { font-size: 32px; width: 32px; height: 32px; color: #4a80d4; }
    
    .user-info {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      .user-name { font-size: 0.9rem; font-weight: 600; color: #1e293b; }
      .user-role { font-size: 0.7rem; color: #22c55e; font-weight: 500; } // Verde para "Online"
    }
  }

  .logout-btn { color: #ef4444; }
}

.spacer { flex: 1 1 auto; }

.main-content {
  padding: 24px;
  min-height: calc(100vh - 64px);
}